:root {
  /* light theme is the default */

  /* common colors */
  --ziki-blue: #3667e7;
  --ziki-dark-blue: #04284a;
  --ziki-red: red;
  --ziki-gray: #999;
  --ziki-light-gray: #ddd;
  --almost-white: #f8f8f8;

  /* these change across themes */
  --default-bg-color: white;
  --default-text-color: black;
  --fof-navbar-link-color: var(--ziki-blue);
  --fof-navbar-link-hover-color: black;
  --profile-bg-color: rgba(243, 243, 243, 0.62);
  --horizontal-line-color: rgba(0, 0, 0, 0.3);
  --blog-header-text-color: var(--ziki-blue);
  --blog-details-pagination-bg-color: var(--almost-white);
  --blog-item-bg-color: var(--almost-white);
  --blog-author-color: var(--ziki-blue);
  --blog-item-read-more-link-color: var(--ziki-blue);
  --post-section-bg-color: var(--almost-white);
  --post-text-color: #555;
  --post-filter-text-color: #333;
  --form-input-bg-color: var(--ziki-light-gray);
  --badge-bg-color: var(--ziki-light-gray);
  --badge-text-color: var(--default-text-color);
  --sidebar-bg-color: var(--almost-white);
  --selected-sidebar-item-bg-color: white;

  /* not changed across themes */
  --default-btn-bg-color: #3869df;
  --default-btn-text-color: white;
  --default-btn-hover-bg-color: rgb(35, 70, 161);
  --blog-post-tag-bg-color: #aecdee;
  --blog-post-tag-text-color: black;
  --blog-details-pagination-btn-color: var(--ziki-blue);
  --blog-item-shadow-color: rgba(0, 0, 0, 0.12);
  --blog-author-avatar-border-color: rgba(0, 0, 0, 0.5);
  --post-publish-btn-bg-color: #3869df;
  --post-publish-btn-text-color: white;
  --red-btn: var(--ziki-red);
  --red-btn-hover: firebrick;
  --hovered-badge-bg-color: var(--ziki-gray);

  /* to transition the color */
  --theme-change-transition-duration: 0.3s;
  --theme-change-timing-function: ease;
}

.dark {
  --default-bg-color: #07223e;
  --default-text-color: #fffeee;
  --fof-navbar-link-color: white;
  --fof-navbar-link-hover-color: aqua;
  --profile-bg-color: #04284a;
  --horizontal-line-color: white;
  --blog-header-text-color: white;
  --blog-details-pagination-bg-color: var(--ziki-dark-blue);
  --blog-item-bg-color: var(--ziki-dark-blue);
  --blog-author-color: #aaa;
  --blog-item-read-more-link-color: #a8b8e2;
  --post-section-bg-color: var(--ziki-dark-blue);
  --post-text-color: white;
  --post-filter-text-color: white;
  --form-input-bg-color: var(--ziki-dark-blue);
  --badge-bg-color: darkcyan;
  --badge-text-color: black;
  --sidebar-bg-color: var(--ziki-dark-blue);
  --selected-sidebar-item-bg-color: var(--default-bg-color);
}

html {
  font-size: 16px;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);

  /* smoothly transition the colors */
  transition: background-color var(--theme-change-transition-duration)
      var(--theme-change-timing-function),
    color var(--theme-change-transition-duration)
      var(--theme-change-timing-function);
}
